# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.x
*.exe
*.out
*.app
.src/algoritmos/*
!.src/algoritmos/*.cc
generador-archivos
algoritmo-seguro


# Arxius
.src/archivos/

# Sortides
.src/salidas/

#CLion
.idea/

